<div class="jumbotron">
  <h1><%= @user.first_name.capitalize %></h1>
  <h4>Email: <%= @user.email%></h4>
  <p>Member since: <%= @user.created_at.strftime('%m/%d/%y') %></p>

  <h2>Character Strengths:</h2>
</div>
