<div class="trend-container">
  <h1 class="title">Trends</h1>
  <% @cstrengths.each do |cstrength|%>
  <div class="cstrength-container">
    <h2><%= link_to cstrength.name, cstrength_stats_path(cstrength) %></h2>
    <h4><%= cstrength.tag.name %></h4>
  </div>
  <% end %>
</div>
