<div class="jumbotron">
  <h1 class="title">Trends</h1>
  <div class="intro">
    <p></p>
  </div>

  <div class="cstrength-collection">
    <% @cstrengths.each do |cstrength|%>
    <div class="cstrength-container">
      <h3><%= link_to cstrength.name, cstrength_stats_path(cstrength), class: "links" %></h3>
      <h6 class="tag-name"><%= cstrength.tag.name %></h6>
    </div>
    <% end %>
  </div>
</div>
