<div class="jumbotron">

  <h1 class="title">The Team</h1>

  <h3 class="team_member">Gregor Destree</h3>
    <p>I came to DBC to learn how to make beatiful and meaningful things. I enjoy the process of taking a product from concept to reality. This final project is the culmination of many hours of immersive study and collaborative learning.</p>

  <span class="github-button">
    <a href="https://github.com/gdestree">
    <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
    </span>
    </a>
  </span>

  <span class="linkedin-button">
    <a href="https://www.linkedin.com/in/gdestree">
    <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
    </span>
    </a>
  </span>

  <h3 class="team_member">Alice Fonfa</h3>
    <p>I came to DBC to learn how to make beatiful and meaningful things. I enjoy the process of taking a product from concept to reality. This final project is the culmination of many hours of immersive study and collaborative learning.</p>

  <span class="github-button">
    <a href="https://github.com/alicefonfa">
    <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
    </span>
    </a>
  </span>

  <span class="linkedin-button">
    <a href="https://www.linkedin.com/in/alice-fonfa-40689391">
    <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
    </span>
    </a>
  </span>

  <h3 class="team_member">George Skrapits</h3>
    <p>I came to DBC to learn how to make beatiful and meaningful things. I enjoy the process of taking a product from concept to reality. This final project is the culmination of many hours of immersive study and collaborative learning.</p>

  <span class="github-button">
    <a href="https://github.com/gskrap">
    <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
    </span>
    </a>
  </span>

  <span class="linkedin-button">
    <a href="https://www.linkedin.com/in/gskrap">
    <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
    </span>
    </a>
  </span>

  <h3 class="team_member">David Walden</h3>
    <p>I came to DBC to learn how to make beatiful and meaningful things. I enjoy the process of taking a product from concept to passwordreality. This final project is the culmination of many hours of immersive study and collaborative learning.</p>

  <span class="github-button">
    <a href="https://github.com/d-walden">
    <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
    </span>
    </a>
  </span>

  <span class="linkedin-button">
    <a href="https://www.linkedin.com/in/david-walden-b7b570107">
    <span class="fa-stack fa-4x">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
    </span>
    </a>
  </span>

</div>
