<div class="jumbotron">

  <h1 class="title">About </h1>

  <h5>This application was made as our final project for <a class="link-white" href="devbootcamp.com">Dev Bootcamp</a>. In this final project we put together all the pieces of our education to make a beautiful and meaningful application.</h5>

  <h5>At Dev Bootcamp we receive classes in Engineering Empathy. The classes address a wide range of issues that enable teams to be more effective and productive by removing interpersonal or intrapersonal barriers that can stand in the way.</h5>

  <h5>When brainstorming about ideas for our final project we thought it would be nice if we could do something along these lines: increase awareness about character strengths, how this can influence your day-to-day life and visualise these findings to increase our user's experience.</h5>

  <h5>How the app works</h5>
  <ul>
    <li><h5>At the beginning of the day the user receives an email about the intention of the day</h5></li>
    <li><h5>When a user visits our page they see the intention. This is a character strength they have to be mindful about</h5></li>
    <li><h5>Halfway through the day the user can receive a text message as a midday check-in </h5></li>
    <li><h5>At the end of the day the user can post a reflection about their day</h5></li>
    <li><h5>Upon posting their reflection, the reflection is sent to two API's: the IBM Watson API for tone analysis and the HPE Haven API for the sentiment analysis</h5></li>
    <li><h5>When the API calls return, the user is redirected to their results page where two things appear</li>

    <ul>
      <li><h5>A word cloud appears that shows keywords based on the sentiment rating</h5></li>
      <li><h5>A radar-graph maps out the returned data from the tone analysis</h5></li>
    </ul>

    <li><h5>The next day the process continues and the user will receive a new intention</h5></li>
  </ul>
  <h5>It is our hope that by implementing the daily exercises and presenting the user with visuals about the tone they use, their awareness and maybe even their happiness will increase.</h5>

</div>
