/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jqcloud
 */
/*.home{
  background-image: url("nyc3.jpeg");

}*/
body{
  background-color:#16174f;
  background: url("paris.jpeg");

  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.jumbotron{
  margin:auto;
  margin-top: 50px;
  max-width: 65%;
  padding:20px;
  padding-bottom: 100px;
  color:white;
  background-color: rgba(0,0,0,0.6)
}

footer{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0px;
  clear: both;
  text-align: center;
}

.title{
  text-align: center;
}

.underline{
  text-decoration: underline;
}

.links{
  color: white;
}

.cstrengths-container{
  border: 2px solid white;
  color: white;
  padding: 10px;
  text-align: center;
  margin: auto;
  width: 40%;
  height: 33%;
  margin-top:100px;
  border-radius: 5px;
}
#daily-container {
  border: 1px solid white;
  color: white;
  padding-top: 50px;
  text-align: center;
  margin: auto;
  max-width: 40%;
  height: 300px;
  margin-top:100px;
}

.text-color{
  color: white;
  opacity: 1;
}
#welcome-container {
  background-size:cover;
  border: rgba(0,0,0,0.6);
  border-radius: .25em;
  color: white;
  padding-top: 50px;
  text-align: center;
  margin: auto;
  max-width: 40%;
  height: 300px;
  margin-top:100px;
  background-color: rgba(0,0,0,0.6);
  min-width: 20em;
  min-height: 25em;

}
.stats-container{
   color: white;
  padding-top: 50px;
  text-align: center;
  margin: auto;
  max-width: 80%;
  margin-bottom: 50px

}

.btn-welcome {
  width: 160px;
  margin: 2px;
}

.inline {
  display: inline-block;
}

.color {
  color: orange;
}

.color:hover{
  color: red;
}

.trend-container{
  color: white;
  padding-top: 50px;
  text-align: center;
  margin: auto;
  max-width: 80%;
  margin-bottom: 50px
}

.cstrength-container{
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  width:190px;
  height: 120px;
  text-align: center;
}

.cstrength-collection {
  margin-bottom: 50px;
  text-align: center;
}

.user-container{
  color: white;
  padding-top: 50px;
  text-align: center;
  margin: auto;
  max-width: 80%;
  margin-bottom: 50px

}

.cstrengths-show{
   color: white;
  padding-top: 50px;
  text-align: center;
  margin: auto;
  max-width: 80%;
  margin-bottom: 50px
}

.super-annoying-div{
  max-width: 80%;
  margin:auto;

}

.terms {
  display: inline-block;
}

.reminder_settings {
  /*display: inline-block;*/
  margin: .5em;
}

#check_box {
  padding-right: .5em;
}

#reaction-response-options {
  color: white;
  padding: 10px;
  width: 500px;
  height: 100px;
}

.cloud-container {
  display: inline-block;
  width: 600px;
  height: 400px;
}

#stats-heading {
  text-align: center;
  margin: auto;
}

.delete {
  background-color: #BF1212;
  margin-bottom: 1em
}

.delete:hover {
    background-color: red;
}

.intro {
  max-width: 75%;
  margin: auto;
}

.motto {
  font-style: italic;
  font-size: 40px;
}

input {
  color: black;
}

input[type=text], input[type=password], input[type=email], textarea {
  padding: 5px;
  border-radius: 5px;
  color: black;
}

tspan, .label {
  fill: white;
}

.reaction-form {
  margin-bottom: 80px;
}

.list-inline{
  padding-top: 10px;
}

/*.team_container {
  border-radius: .25em;
  color: white;
  padding-top: 100px;
  text-align: center;
  margin: auto;
  max-width: 60%;
  height: 1100px;
  margin-top:100px;
  padding-left: 10em;
  padding-right: 10em;
  padding-bottom: 85em;
  background-color: rgba(0,0,0,0.6);
}*/

#add_space {
  margin-bottom: 5em;
}

.social {
  display: inline-block;
}

.team_member {
  margin-top: 1.5em;
}

#negative-cloud>.w10 {color: #AB3505;}
#negative-cloud>.w9 {color: #C63D06;}
#negative-cloud>.w8 {color: #E04407;}
#negative-cloud>.w7 {color: #E13D1F;}
#negative-cloud>.w6 {color: #D5572E;}
#negative-cloud>.w5 {color: #DF7634;}
#negative-cloud>.w4 {color: #FF3E00;}
#negative-cloud>.w3 {color: #FF5700;}
#negative-cloud>.w2 {color: #FF5720;}
#negative-cloud>.w1 {color: #FF6C1F;}

.user-cstrengths-list {
  float: right;
  text-align: right;
}

.topnav {
  padding-left: 4px;
  padding-right: 4px;
}

.member-container{
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  width:40%;
  min-width: 15em;
  height: 20%;
  text-align: center;
  padding-left:.75em;
  padding-right:.5em;
  padding-bottom:1.5em
}
