/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jqcloud
 */

.jumbotron{
  margin:auto;
  padding: 50px;
  max-width: 93%
}

.title{
  text-align: center;
}

.underline{
  text-decoration: underline;
}

#welcome-container {
  background-color: #87B6BC;
  color: white;
  padding-top: 100px;
  text-align: center;
  margin: auto;
  width: 550px;
  height: 400px;
}

#daily-container {
  background-color: #87B6BC;
  color: white;
  padding-top: 80px;
  text-align: center;
  margin: auto;
  width: 550px;
  height: 400px;
}

.btn-welcome {
  width: 160px;
  margin: 2px;
}

.inline {
  display: inline-block;
}

.color {
  color: #3A4B55;
}

.color:hover{
  color: red;
}

.cstrength-container{
  border: 1px solid black;
  background: white;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  width:190px;
  height: 135px;
  text-align: center;
}

.terms {
  display: inline-block;
}

.reminder_settings {
  /*display: inline-block;*/
  margin: .5em;
}

#check_box {
  padding-right: .5em;
}

#reaction-response-options {
  background-color: #87B6BC;
  color: white;
  padding-top: 10px;
  text-align: center;
  width: 467px;
  height: 140px;
}
