/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jqcloud
 */
/*.home{
  background-image: url("nyc3.jpeg");

}*/
body{
  background-color:#16174f;
  background: url("nyc3.jpeg");

  background-size: 100% 100%;
  background-repeat: none;
  background-attachment: fixed;
}
.jumbotron{
  margin:auto;
  margin-top: 50px;
  max-width: 65%;
  padding:20px;
  background-color: rgba(255,255,255,0.4)

}

footer{
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0px;
  clear: both;
}
.title{
  text-align: center;
}

.underline{
  text-decoration: underline;
}

.cstrengths-container{
  border: 2px solid white;
  color: white;
  padding: 10px;
  text-align: center;
  margin: auto;
  width: 40%;
  height: 33%;
  margin-top:100px;
  border-radius: 5px;
}
#daily-container {
  border: 1px solid white;
  color: white;
  padding-top: 50px;
  text-align: center;
  margin: auto;
  max-width: 40%;
  height: 300px;
  margin-top:100px;
}
.text-color{
  color: white;
  opacity: 1;
}
#welcome-container {
  border: 1px solid white;
  color: white;
  padding-top: 50px;
  text-align: center;
  margin: auto;
  max-width: 40%;
  height: 300px;
  margin-top:100px;
  background-color: rgba(255,255,255,0.4);
}
.stats-container{
   color: white;
  padding-top: 50px;
  text-align: center;
  margin: auto;
  max-width: 80%;
  margin-bottom: 50px
}

.btn-welcome {
  width: 160px;
  margin: 2px;
}

.inline {
  display: inline-block;
}

.color {
  color: #3A4B55;
}

.color:hover{
  color: red;
}

.trend-container{
  color: white;
  padding-top: 50px;
  text-align: center;
  margin: auto;
  max-width: 80%;
  margin-bottom: 50px
}

.cstrength-container{
  border: 1px solid white;
  border-radius: 5px;
  margin: 10px;
  display: inline-block;
  vertical-align: top;
  width:190px;
  height: 120px;
  text-align: center;
}

.cstrength-collection {
  margin-bottom: 50px;
  text-align: center;
}

.user-container{
  color: white;
  padding-top: 50px;
  text-align: center;
  margin: auto;
  max-width: 80%;
  margin-bottom: 50px

}

.cstrengths-show{
   color: white;
  padding-top: 50px;
  text-align: center;
  margin: auto;
  max-width: 80%;
  margin-bottom: 50px
}

.super-annoying-div{
  max-width: 80%;
  margin:auto;

}

.terms {
  display: inline-block;
}

.reminder_settings {
  /*display: inline-block;*/
  margin: .5em;
}

#check_box {
  padding-right: .5em;
}

#reaction-response-options {
  background-color: #87B6BC;
  color: white;
  padding-top: 10px;
  text-align: center;
  width: 467px;
  height: 140px;
}

.cloud-container {
  display: inline-block;
  width: 600px;
  height: 400px;
}

#stats-heading {
  text-align: center;
  margin: auto;
}

.delete {
  background-color: #BF1212;
  margin-bottom: 1em
}

.delete:hover {
    background-color: red;
}

.intro {
  max-width: 75%;
  margin: auto;
}


