<div class="jumbotron">
  <h1 class="title">Character Strengths</h1>
  <div class="intro">
    <p>Each one of us possesses character strengths in varying degrees, making up a unique profile. The 24 character strengths fall under six broad virtue categories: wisdom, courage, humanity, justice, temperance and transcendence. They are morally and universally valued, encompass our capacities for helping ourselves and others and produce positive effects when we express them. Knowing your constellation of character strengths is the first step towards living a happier, more authentic life.</p>
  </div>

  <div class="cstrength-collection">
    <% @cstrengths.each do |cstrength|%>
    <div class="cstrength-container">
      <h3><a class="links" href="/cstrengths/<%=cstrength.id%>"> <%= cstrength.name %> </a></h3>
      <h6 class="tag-name"><%= cstrength.tag.name %></h6>
    </div>
    <% end %>
  </div>
</div>



